<% content_for :title, "New search" %>

<div class="border border-black-300 bg-gray-100 rounded m4 p-5">
  <h1 class="text-2xl pb-2 font-bold">Search weather of your city</h1>

  <%= render "form", search: @search %>
</div>

<div class="border border-black-300 bg-gray-100 rounded m4 p-5">
  <div id="weather_forecasts">
    <p>No weather forecasts available, please search for a city</p>
  </div>
</div>
